<header class="Hero TagHero TagHero--colored" style="color: rgb(255, 255, 255); background-color: rgb(0, 160, 232);">
  <div class="container">
    <div class="containerNarrow">
      <h2 class="Hero-title" align="center">{{homePage.categoryTitle}}</h2>
      <div class="Hero-subtitle" align="center">{{homePage.courseTitle}}</div>
    </div>
  </div>
</header>
<div class="container">

  <nav class="IndexPage-nav sideNav">
    <ul>
      <li class="item-newDiscussion App-primaryControl" ng-show="!homePage.currentCourse">        
        <button class="Button Button--primary IndexPage-newDiscussion hasIcon" itemclassname="App-primaryControl" type="button" style="background-color: rgb(0, 160, 232);" href='#create_course' data-toggle='modal'>
          <span class="Button-label">New course</span>
        </button>
      </li>
        <li class="item-newDiscussion App-primaryControl" ng-show="homePage.currentCourse">        
        <button class="Button Button--primary IndexPage-newDiscussion hasIcon" itemclassname="App-primaryControl" type="button" style="background-color: rgb(0, 160, 232);" href='#create_post' data-toggle='modal'>
          <span class="Button-label">New post</span>
        </button>
      </li>
      <li class="item-nav">
      <div class="ButtonGroup Dropdown dropdown App-titleControl Dropdown--select itemCount13">
      <ul class="Dropdown-menu dropdown-menu ">
        <li class="item-tags">
          <a href="#" active="false" class=" hasIcon" type="button">
            <i class="icon fa fa-fw fa-th-large Button-icon">              
            </i>
            <span class="Button-label">Tags</span>
          </a>
        </li>
        <li class="Dropdown-separator">          
        </li>
        <li class="item-tag">
          <a class="TagLinkButton hasIcon " style="" title="" ng-click="homePage.clearCategory()">
          <span class="icon TagIcon Button-icon" style="background-color: {{7 | bgColor}};"></span>
           All posts
          </a>
        </li>
        <li class="item-tag" ng-repeat="category in homePage.categories">
          <a class="TagLinkButton hasIcon " style="" title="{{category.name}}" ng-click="homePage.setCategory(category)">
          <span class="icon TagIcon Button-icon" style="background-color: {{category.id | bgColor}};"></span>
            {{category.name}}
          </a>
          <ul class="Dropdown-menu dropdown-menu" ng-show="homePage.isCategory(category)">
            <li class="item-tag" ng-repeat="course in category.courses">
              <a class="TagLinkButton hasIcon child" style="" title="" ng-click="homePage.setCourse(course)">
                <span class="icon TagIcon Button-icon"></span>
                {{course.name}}
              </a>
            </li>
          </ul>
        </li>
        <li class="item-tag">
          <a class="TagLinkButton hasIcon " style="" title="Other" ng-click="homePage.selectOtherCategory()">
          <span class="icon TagIcon Button-icon" style="background-color: {{0 | bgColor}};"></span>
            Other
          </a>
          <ul class="Dropdown-menu dropdown-menu" ng-show="homePage.currentCategory === 0">
            <li class="item-tag" ng-repeat="course in homePage.otherCourses">
              <a class="TagLinkButton hasIcon child" style="" title="" ng-click="homePage.setCourse(course)">
                <span class="icon TagIcon Button-icon"></span>
                {{course.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      </div>
      </li>
    </ul>
  </nav>
  <div class="IndexPage-results sideNavOffset">
    <div class="DiscussionList">
      <ul class="DiscussionList-discussions">
        <li ng-repeat="post in homePage.posts">
          <div class="DiscussionListItem">
            <a class="Slidable-underneath Slidable-underneath--left Slidable-underneath--elastic disabled"><i class="icon fa fa-fw fa-check "></i></a>
            <div class="DiscussionListItem-content Slidable-content">
              <a href="" class="DiscussionListItem-author" title="">
                <span class="Avatar" style="background: {{post.user.name | bgColor}}; color:{{post.user.name | textColor}};">
                  {{homePage.firstCharUpperCase(post.user.name)}}
                </span>
              </a>
              <!--<a href="/u/ftiasch" class="DiscussionListItem-author" title="" data-original-title="ftiasch started a day ago"><img class="Avatar " src="https://async.icpc-camp.org/assets/avatars/8c38e72064f8beda857235028503abbb.png" /></a>
              <ul class="DiscussionListItem-badges badges">
                 <li class="item-sticky"><span class="Badge Badge--sticky " title="" data-original-title="Sticky"><i class="icon fa fa-fw fa-thumb-tack Badge-icon"></i></span></li> 
              </ul>-->
              <a href="#!/view-post/{{post.id}}" class="DiscussionListItem-main">
                <h3 class="DiscussionListItem-title">
                  {{post.title}}
                </h3>
                <ul class="DiscussionListItem-info">
                  <li class="item-tags" ng-show="post.postTagIds.length > 0">
                    <span class="TagsLabel">
                      <span class="TagLabel colored" ng-repeat="postTagId in post.postTagIds" style="color: rgb(242, 194, 190); background: {{postTagId | bgColor}}; color:{{postTagId | textColor}};">
                        <span class="TagLabel-text">
                          {{$root.id2postTag[postTagId].name}}
                        </span>
                      </span>
                    </span>
                  </li>
                  <li class="item-excerpt">
                    <h5>
                      {{$root.id2course[post.courseId].name}}
                    </h5>
                  </li>
                  <li class="item-terminalPost">
                    <h6>
                      <span>
                        by <span class="username">{{post.user.name}}</span>
                        <i class="icon fa fa-fw fa-reply "></i>
                        updated
                        <time pubdate="true" datetime="{{post.updatedAt}}" title="{{post.updatedAt | date}}" data-humantime="true" >{{post.updatedAt | date}}</time>
                      </span>
                    </h6>
                  </li>
                  <li class="item-excerpt">
                    <h5>
                      <span ng-bind-html="homePage.renderHtml(post.comment)"></span>
                    </h5>
                  </li>
                </ul>
              </a>
              <span class="DiscussionListItem-count" title="">1</span>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<new-course></new-course>

<new-post course-id="homePage.currentCourse"></new-post>
