<!-- Modal -->
<div id="create_course" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New course</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="newCourse.submitNewCourse()">
          <div class="form-group">
            <label>Course name:</label>
            <input type='text' id='name' class="form-control" ng-model="newCourse.course.name" required>
          </div>
          <div class="form-group">
            <label>Course No.:</label>
            <input type='text' id='courseId' class="form-control" ng-model="newCourse.course.courseId" required>
          </div>
          <div class="form-group">
            <label>Teacher:</label>
            <ui-select id='teacherId' tagging="newCourse.tagTransform" tagging-label="false" ng-model="newCourse.selectedTeacher" theme="bootstrap" title="Select teacher">
              <ui-select-match placeholder="Select teacher">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="teacher in (newCourse.teachers | filter: $select.search)">
                {{teacher.name}}
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label>Course tags:</label>
            <ui-select multiple id='courseTags' tagging="newCourse.tagTransform" tagging-label="false" ng-model="newCourse.selectedCourseTags" theme="bootstrap" title="Select course tags">
              <ui-select-match placeholder="Select course tags">
                {{$item.name}}
              </ui-select-match>
              <ui-select-choices repeat="courseTag in (newCourse.courseTags | filter: $select.search)">
                {{courseTag.name}}
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea type='text' id='description' class="form-control" ng-model="newCourse.course.description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{$ctrl.name}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" id="create_course_success" tabindex="-1" role="dialog" aria-labelledby="CreateCourseSuccess">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="CreateCourseSuccess">Congratulations</h4>
      </div>
      <div class="modal-body">
        <p>Create course successfully.</p>
      </div>
    </div>
  </div>
</div>