/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.ta-toolbar > .btn-group {
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:3px 5px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:5px 0;
}

.CourseInfo {
  margin-bottom: 30px;
}

.CourseInfo > tbody > tr {
  padding: 15px;
}

.CourseInfo > tbody > tr > th {
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  padding: 5px;
  color: #8c8c8c;
}

.DiscussionListItem-info .item-tags {
  position: absolute;
  margin-right: 0;
  right: 80px;
  top: 23px;
}

.Discussion-count {
  color: #aaa;
  font-size: 16px;
  position: absolute;
  margin-right: 0;
  right: 40px;
  top: 21px;
}

.item-like {
  visibility: visible;
  position: absolute;
  margin-right: 0;
  right: 70px;
  bottom: 20px;
}

.Post:after {
  display: none;
}

.limit-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* line-height: 16px;     /* fallback */
  /* max-height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.ui-select-multiple.ui-select-bootstrap.ui-select-container.ng-empty input.ui-select-search {
  width: 100% !important;
}

.ui-select-container > input[type="search"] {
  box-sizing: border-box;
}

.ButtonGroup {
  padding: 0px 0px 10px 0px;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
  }

  .menu:before {
    content: "[";
  }

  .menu:after {
    content: "]";
  }

  .menu > li {
    display: inline;
  }

  .menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
  }

  .ta-toolbar > .btn-group {
      height: auto;
      overflow: auto;
      font-family: inherit;
      font-size: 100%;
      margin:3px 5px;
  }

  .ta-editor {
      min-height: 300px;
      height: auto;
      overflow: auto;
      font-family: inherit;
      font-size: 100%;
      margin:5px 0;
  }

  .CourseInfo {
    margin-bottom: 30px;
  }

  .CourseInfo > tbody > tr {
    padding: 15px;
  }

  .CourseInfo > tbody > tr > th {
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
    color: #8c8c8c;
  }

  .DiscussionListItem-main {
    padding-bottom: 0px;
  }

  .Discussion-count {
    color: #aaa;
    font-size: 16px;
    position: absolute;
    margin-right: 0;
    right: 10px;
    top: 21px;
  }

  .DiscussionListItem-info > .item-tags {
    position: relative;
    left: 0px;
    top: 3px;
  }

  .item-like {
    display: inline;
    position: relative;
    left: 0px;
    top: 0px;
  }

  .item-like > .like-button {
    padding: 0px 13px 0px 0px;
  }

  .Private-Message {
    margin: 5px;
  }

  .limit-line-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* line-height: 16px;     /* fallback */
    /* max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .ui-select-multiple.ui-select-bootstrap.ui-select-container.ng-empty input.ui-select-search {
    width: 100% !important;
  }

  .ui-select-container > input[type="search"] {
    box-sizing: border-box;
  }

  .DiscussionPage-nav > ul > li.item-controls, .DiscussionPage-nav > ul > li.item-scrubber {
    margin: 10px;
  }
}
