<article class="Post CommentPost Private-Message"> 
  <div>
    <header class="Post-header">
      <ul>
        <li class="item-user">
          <div class="PostUser">
            <h3 ng-show="message.fromOthers">
              <a href="#!/user-view/{{message.message.from_user.id}}">
                <span class="Avatar PostUser-avatar" style="background: {{message.message.from_user.name | bgColor}}; color:{{message.message.from_user.name | textColor}};">
                  {{message.firstCharUpperCase(message.message.from_user.name)}}
                </span>
                <span>From: </span>
                <span class="username">{{message.message.from_user.name}}</span>
              </a>
            </h3>
            <h3 ng-show="!message.fromOthers">
              <a href="#!/user-view/{{message.message.to_user.id}}">
                <span class="Avatar PostUser-avatar" style="background: {{message.message.to_user.name | bgColor}}; color:{{message.message.to_user.name | textColor}};">
                  {{message.firstCharUpperCase(message.message.to_user.name)}}
                </span>
                <span>To: </span>
                <span class="username">{{message.message.to_user.name}}</span>
              </a>
            </h3>
          </div>
        </li> 
        <li class="item-meta">
          <div class="Dropdown PostMeta">
            <a class="Dropdown-toggle" data-toggle="dropdown"><time pubdate="true" datetime="{{message.message.updated_at}}" title="{{message.message.updated_at | date}}" data-humantime="true">{{message.message.updated_at | date}}</time></a>
        </li> 
      </ul>
    </header>
    <div class="Post-body">
     <p ng-bind-html="message.renderHtml(message.message.content)"></p>
    </div>
    <aside class="Post-actions">
     <ul>
      <li class="item-like" ng-show="message.fromOthers">
        <button class="Button Button--link" type="button" ng-click="message.send(message.message.from_user.id)">
          <span class="Button-label">Reply</span>
        </button>
      </li>
      <li class="item-like" ng-show="!message.fromOthers">
        <button class="Button Button--link" type="button" ng-click="message.send(message.message.to_user.id)">
          <span class="Button-label">Send Again</span>
        </button>
      </li> 
     </ul>
    </aside>
  </div>
</article>
