<nav-bar></nav-bar>

<div class="container auth">

  <form class="form-auth" id="sign-up-form" ng-submit="signUp.submitSignUpForm()" novalidate>
    <h2 class="form-auth-heading">Sign up</h2>
    <br>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus data-error="E-mail 地址不合法" ng-model="signUp.user.email">
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label for="inputName" class="sr-only">Nick Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Nick name" required autofocus data-error="请填写昵称" ng-model="signUp.user.name">
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="signUp.user.password" data-minlength="6" data-error="密码长度至少为 6 位">
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="sr-only">Confirm password</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required ng-model="signUp.user.confirmPassword" data-match="#inputPassword" data-match-error="密码不一致">
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label for="inputDescription" class="sr-only">Self description</label>
      <textarea type="text" id="inputDescription" class="form-control" placeholder="Self description" ng-model="signUp.user.description"></textarea>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </div>
  </form>

  <div class="modal fade bs-example-modal-lg" id="sign-up-success-modal" tabindex="-1" role="dialog" aria-labelledby="SignUpModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="SignUpModalLabel">Sign up successfully.</h4>
        </div>
        <div class="modal-body">
          <p>Will redirect to sign in page in 1 seconds.</p>
        </div>
      </div>
    </div>
  </div>


</div> <!-- /container -->