<nav-bar></nav-bar>

<div class="container auth">
  <form class="form-auth" id="sign-in-form" ng-submit="signIn.submitSignInForm()" novalidate>
    <h2 class="form-auth-heading">Sign in</h2>
    <br>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="signIn.user.email" required autofocus>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="signIn.user.password" required data-minlength="6" data-error="密码长度至少为 6 位">
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
  </form>

  <div class="modal fade bs-example-modal-lg" id="sign-in-success-modal" tabindex="-1" role="dialog" aria-labelledby="SignInModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="SignInModalLabel">Sign in successfully.</h4>
        </div>
        <div class="modal-body">
          <p>Will redirect to home page in 1 seconds.</p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->